.bg-white {
  background-color: $color-white;
}

.bg-black {
  background-color: $color-black;
}

.bg-gray-light {
  background-color: $color-gray-light;
}

.bg-gray-dark {
  background-color: $color-gray-dark;
}
