// 字型
$font-family: 'Noto Sans', sans-serif;

// 尺寸
$header-height: 96px;
$hero-width: 1154px;

// 顏色定義
$color-white: #ffffff;
$color-black: #000000;
$color-gray-light: #f5f5f5;
$color-gray-dark: #3B3B3B;
$color-background: #f1f1f1;
